:root {
  --teal: #4EBABA;
  --teal-accent: #2E9C9C;
  --offWhite: #ACEDED;
  --text: #EEEEEE;
  --background: #ddd;
  --my-red: #FF6B6B;
  --my-red-accent: #FF4C4C;
  --border: #aaa;
  --link: #666;
  --link-hover: #222;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif
}
a {
  text-decoration: none;
}

/* template styling */

.template {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 1fr auto;
  grid-template-areas: "header" "subheader" "content " "footer  ";
  height: 100vh;
}

.header {
  grid-area: header;
  background: var(--teal);
  font-weight: bold;
  font-size: 40px;
  overflow: hidden;
}

.subheader {
  grid-area: subheader;
  background: #333333;
  padding: 10px;
  color: var(--text);
}

.content {
  grid-area: content;
  background: var(--background);
  padding: 20px;
}

.alert {
  width: 100%;
  padding:10px;
  box-sizing: border-box;
  margin-bottom: 20px
}

.alert-warning{
  background: #ffccd0 ;
  border:1px solid #ff6673
}

.alert-success{
  background: #b3ffb3;
  border:1px solid #00cc00
}

#navbutton {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
  font-size: 40px;
  color: white;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.desktopheader {
  display: none;
}

.erg-control{
  display: none;
}


nav {
  grid-area: nav;
  display: inline-flex;
  flex-direction: column;
  background: var(--background);
  clear: both;
  transition: all 0.5s ease-in-out;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  box-shadow: 3px 0px 10px black;
  z-index: 999;
}

nav a {
  padding: 1.25em 1.5em;
  color: var(--link);
  text-decoration: none;
  width: inherit;
  box-sizing: border-box;
  width: 200px;
}

nav a:hover {
  color: var(--link-hover);
}

nav .machineCount {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  width: 100%;
  bottom: 0px;
  color: var(--text);
  border-top: 1px var(--text) solid;
  padding: 10px;
}

#machineIndicator {
  width: 10px;
  height: 10px;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: #333333;
}

footer a {
  color: var(--text);
  text-decoration: none;
  padding: 3px;
}

footer a:visited {
  color: var(--text);
}

/*togglable classes*/

.menu-toggle {
  width: 50vw;
}

.menu-open {
  margin-left: 50vw;
}

/*layout classes*/


.row{
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.column{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.b-top {
  border-top:1px solid var(--border)
}

.pad10 {
  padding: 10px;
}
.padtop20{
  padding: 20px 0px;
}

/* -------------------------feed stylin-------------------------g*/

.feed-item {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 180px 40px;
  grid-template-areas: "label label" "graph table" "info info";
  padding: 0;
  margin-bottom: 20px;
}

.feed {
  padding: 10px;
  border: 1px solid var(--teal-accent);
}

.title {
  grid-area: label;
  background: var(--teal-accent);
  border-bottom: 2px solid var(--teal);
}

.graph {
  grid-area: graph;
  background: white;
  margin: 0;
  overflow: hidden;
}

.table {
  grid-area: table;
  background: white;
  margin: 0;
}

.info {
  grid-area: info;
  background: var(--offWhite);
}

/* -------------------------upload stylin-------------------------g*/
.hidden{
  display: none;
}
/* -------------------------chart and graph-------------------------g*/
rect.bar{ 
  transition: all 0.5ms;
}
.chart{
  width: 100%;
  height: 100%;
}

/* -------------------------workout rewview-------------------------g*/

.workoutReview {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "overview reviewBarGraph"
    "rowingFis reviewLineGraph"
    "intervals intervals" 
    "submitRow submitRow";
  height: 100%; 

}

h3{
  margin: 0;
}

.overview{
  grid-area: overview;
  margin-right: 10px;
  padding: 20px;
  border: 1px solid var(--border);
  background: #EEE;
}
article ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
article ul li{ 
  padding: 5px 0px;
}
.reviewBarGraph{
  grid-area: reviewBarGraph;
  border: 1px solid var(--border);
  background: #EEE;
  padding: 20px;
  margin-left: 10px;
  
}
.rowingFis{
  grid-area: rowingFis;
  border: 1px solid var(--border);
  background: #EEE;
  padding: 20px;
  margin-right: 10px;
  margin-top:20px;
}
.reviewLineGraph{
  grid-area: reviewLineGraph;
  border: 1px solid var(--border);
  background: #EEE;
  padding: 20px;
  margin-left: 10px;
  margin-top:20px;
}

.intervalOverview{
  grid-area: intervals;
  padding: 20px 0 0 0px;
  overflow: auto;
  white-space: nowrap;
}
.intervalOverview table {
  width: 100%;
  text-align: center;
  border: 1px solid var(--border);
  background: #EEEEEE;
  margin-bottom: 20px;
}
.firstRow{
  background: #EEEEEE;
}

.intervalOverview table tr td{
  padding: 7px 5px;
  white-space: nowrap
  
}
.intervalOverview tr:nth-child(odd){background-color: var(--background);}




.submitRow {
  grid-area: submitRow;
}

/* -------------------------button stylin-------------------------g*/

/* -------------------------button stylin-------------------------g*/

.button {
  padding: 15px 25px;
  text-align: center;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  margin: 10px;
}

.button:active {
  transform: translateY(3px);
}

.disabled {
  background: #aaa;
  box-shadow: 0 6px #666;
}

.button:disabled, .button[disabled]{
  background: #aaa;
  box-shadow: 0 6px #666;
}

.dark {
  background: var(--teal-accent);
  box-shadow: 0 6px var(--teal);
}

.dark:active {
  box-shadow: 0 3px var(--teal-accent);
}

.contrast {
  background: var(--teal);
  box-shadow: 0 6px var(--teal-accent);
}

.contrast:active {
  box-shadow: 0 3px var(--teal);
}

.red {
  background: var(--my-red);
  box-shadow: 0 6px var(--my-red-accent);
}

.red:active {
  box-shadow: 0 3px var(--my-red-accent);
}

.square {
  width: 150px;
  height: 150px;
}

.small {
  font-size: 12px;
  padding: 8px 12px;
}

.wide {
  width: 150px;
}

.center-align{
  display: block;
  margin: 20px auto;
}




/* -------------------------form stylin-------------------------g*/
.invalid{ 
  border: 1px solid var(--my-red-accent)
}

.invalid-input{
  font-size: 12px;
  color:var(--my-red);
}

fieldset{
  border: 1px solid var(--border);
  margin: 10px;
  display:flex;
  justify-content: center;
  flex-direction:column;
}

.erg-control-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "distance-form" "time-form" "standard-form"
}

.distance-form {grid-area: distance-form}
.time-form {grid-area: time-form}
.standard-form {grid-area: standard-form}

.distance-form, .time-form, .standard-form{
  text-align: center;
}

input, select{
  box-sizing:border-box;
  padding: 10px;
  margin: 10px;
  display: block;
  margin: 1em auto;
}

/* tablet styling */

@media screen and (min-width: 500px) {
  .template {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px auto 1fr auto;
    grid-template-areas: "header header " "subheader subheader " "nav content " "footer footer  ";
    height: 100vh;
  }
  .erg-control {
    padding: 20px;
    grid-area: aside;
    background: var(--background);
    border-left: 1px solid var(--border);
  }
  .header {
    padding-left: 200px
  }
  .subheader {
    padding-left: 210px;
  }
  nav {
    position: relative;
    width: auto;
    box-shadow: 0px 0px 0px black;
    border-right: 1px solid var(--border);
  }
  #navbutton {
    display: none;
  }
  .desktopheader {
    display: inline;
    color: white;
    padding: 10px;
    font-size: 40px;
  }

  .menu-toggle {
    width: 200px;
  }
  .menu-open {
    margin-left: 200px;
  }
}

/* desktop styling */

@media screen and (min-width: 1200px) {
  .template {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 60px auto 1fr auto;
    grid-template-areas: 
      "header header header"
       "subheader subheader subheader" 
       "nav content erg-sidebar" 
       "footer footer  footer";
    height: 100vh;
  }
  .erg-control {
    display: inline;
    grid-area: erg-sidebar;
    background: var(--background);
    color:black;
  }

  .erg-control ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border: 1px solid var(--border);
    margin: 10px 0px 20px 0px;
  }

  .erg-control-grid {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 1fr;
    grid-template-areas: "distance-form time-form standard-form"
  }


}