{% extends "layout.html" %}
{% block content %}

<form method="POST" action="{{ SetDistance }}">
  {{ formDis.hidden_tag() }}
  <fieldset>
    <legend>Single Distance</legend>
    {{formDis.distance.label}}
    {% if formDis.distance.errors %}
      {{formDis.distance(clas="invalid")}}
      <div class="invalid-input">
        {% for error in formDis.distance.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{formDis.distance}}
    {% endif %}

    {{formDis.split.label}}
    {% if formDis.split.errors %}
    {{formDis.split(clas="invalid")}}
    <div class="invalid-input">
      {% for error in formDis.split.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formDis.split}}
    {% endif %}
  </fieldset>

  {{formDis.submitDis(class="button dark small")}}

</form>

<form method="POST" action="{{ SetTime }}">
  {{ formTime.hidden_tag() }}
  <fieldset>
    <legend>Single Time</legend>

    {{formTime.hours.label}}
    {% if formTime.hours.errors %}
    {{formTime.hours(clas="invalid")}}
    <div class="invalid-input">
      {% for error in formTime.hours.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formTime.hours}}
    {% endif %}

    {{formTime.minutes.label}}
    {% if formTime.minutes.errors %}
    {{formTime.minutes(clas="invalid")}}
    <div class="invalid-input">
      {% for error in formTime.minutes.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formTime.minutes}}
    {% endif %}

    {{formTime.seconds.label}}
    {% if formTime.seconds.errors %}
    {{formTime.seconds(clas="invalid")}}
    <div class="invalid-input">
      {% for error in formTime.seconds.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formTime.seconds}}
    {% endif %}

  </fieldset>

  {{formTime.submitTime(class="button dark small")}}

</form>

<form method="POST" action="{{ SetStandardList }}">
  {{ formSL.hidden_tag() }}
  <fieldset>
    <legend>StandardList</legend>

    {{ formSL.standard.label}}
    {{ formSL.standard}}

  </fieldset>

  {{ formSL.submitSL(class="button dark small") }}


</form>



{% endblock content %}