{% extends "layout.html" %}
{% block content %}
<div class="erg-control-grid">
<form method="POST" action="{{ SetDistance }}" class="distance-form">
  {{ formDis.hidden_tag() }}
  <fieldset>
    <legend>Single Distance</legend>
  
    {% if formDis.distance.errors %}
      {{formDis.distance(class="invalid") }}
      <div class="invalid-input">
        {% for error in formDis.distance.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{formDis.distance}}
    {% endif %}
    {% if formDis.split.errors %}
    {{formDis.split(class="invalid")}}
    <div class="invalid-input">
      {% for error in formDis.split.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formDis.split}}
    {% endif %}

    {{formDis.submitDis(class="button dark small center")}}

  </fieldset>


</form>

<form method="POST" action="{{ SetTime }}" class="time-form">
  {{ formTime.hidden_tag() }}
  <fieldset>
    <legend>Single Time</legend>

    {% if formTime.hours.errors %}
    {{formTime.hours(class="invalid")}}
    <div class="invalid-input">
      {% for error in formTime.hours.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formTime.hours}}
    {% endif %}

  
    {% if formTime.minutes.errors %}
    {{formTime.minutes(class="invalid")}}
    <div class="invalid-input">
      {% for error in formTime.minutes.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formTime.minutes}}
    {% endif %}

  
    {% if formTime.seconds.errors %}
    {{formTime.seconds(class="invalid")}}
    <div class="invalid-input">
      {% for error in formTime.seconds.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
    {% else %}
      {{formTime.seconds}}
    {% endif %}

    {{formTime.submitTime(class="button dark small center")}}


  </fieldset>


</form>

<form method="POST" action="{{ SetStandardList }}" class="standard-form">
  {{ formSL.hidden_tag() }}
  <fieldset>
    <legend>StandardList</legend>

  
    {{ formSL.standard}}

    {{ formSL.submitSL(class="button dark small center") }}


  </fieldset>



</form>

</div>

{% endblock content %}