{% extends "plain.html" %}
{% block content %}

<form method="POST" action="{{ LoginUser }}" novalidate>
  {{login.hidden_tag()}}
  <fieldset>
    <legend>Login</legend>

    {{login.email.label}}
    {%if login.email.errors %}
    {{login.email(class="invalid")}}
      <div class="invalid-input">
        {% for error in login.email.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{login.email}}
    {% endif %}
   
    
    {{login.password.label}}
    {%if login.password.errors %}
    {{login.password(class="invalid")}}
      <div class="invalid-input">
        {% for error in login.password.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{login.password}}
    {% endif %}
    
    {{login.remember.label}}
    {{ login.remember }}
    
    {{ login.submit(class="button contrast small")}}
  </fieldset>
</form>

{% endblock content %}