{% extends "plain.html" %}
{% block content %}

<form method="POST" action="{{ LoginUser }}" novalidate class='login'>
  {{login.hidden_tag()}}
  <fieldset class='column'>
    <legend><h3>Login</h3></legend>

    {%if login.email.errors %}
    {{login.email(class="invalid")}}
      <div class="invalid-input">
        {% for error in login.email.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{login.email}}
    {% endif %}
   
    {%if login.password.errors %}
    {{login.password(class="invalid")}}
      <div class="invalid-input">
        {% for error in login.password.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{login.password}}
    {% endif %}
    
    <div class="rememberMe">
        {{login.remember.label}}
        {{ login.remember }}
    </div>
    
    
    {{ login.submit(class="button contrast small center-align")}}
  </fieldset>
</form>

{% endblock content %}