{% extends "plain.html" %}
{% block content %}

<form method="POST" action="" novalidate>
  {{register.hidden_tag()}}
  <fieldset>
    <legend>register</legend>

    {{register.username.label}}
    {% if register.username.errors %}
    {{register.username(class="invalid") }}
    <div class="invalid-input">
      {% for error in register.username.errors %}
      <span>{{error}}</span>
      {% endfor %}
    </div>
  {% else %}
    {{register.username}}
  {% endif %}

    {{register.email.label}}
    {%if register.email.errors %}
      {{register.email(class="invalid")}}
      <div class="invalid-input">
        {% for error in register.email.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{register.email}}
    {% endif %}
    
    {{register.password.label}}
    {%if register.password.errors %}
    {{register.password(class="invalid")}}
      <div class="invalid-input">
        {% for error in register.password.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{register.password}}
    {% endif %}

    {{register.confirmPassword.label}}
    {%if register.confirmPassword.errors %}
    {{register.confirmPassword(class="invalid")}}
      <div class="invalid-input">
        {% for error in register.confirmPassword.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
    {% else %}
      {{register.confirmPassword}}
    {% endif %}

    {{ register.submit(class="button light small")}}
  </fieldset>
</form>

{% endblock content %}