{% extends "layout.html" %}
{% block content %}
{% for message in csv.csvField.errors %}
<div class="alert alert-warning">{{ message }}</div>
{% endfor %}

<div class="row">
  <button class="button contrast wide" id="csvWorkout">.CSV </button>
  <button class="button red wide" id="manualButton">Manual </button>
</div>

<section id="manualUploadPane" class="hidden">
  <div class="row">
    <button class="button red wide" id="singleDistButton">Single Distance</button>
    <button class="button red wide" id="singleTimeButton">Single Time</button>
  </div>
  <div class="row">
    <button class="button red wide" id="intervalFixedButton">Fixed Intervals</button>
    <button class="button red wide" id="intervalVariableButton">Variable Intervals </button>
  </div>
</section>

<section id="csvPane" class="column hidden">
  <!-- <form method="POST" action="/workout-review" enctype="multipart/form-data">
    <input type="file" name="csvField" id="csvInput" class="hidden">
    <div class="row">
      <button class="button contrast wide" id="uploadCSV" type="button">Upload</button>
      <input type="submit" class="button contrast wide"/>
    </div>
  </form> -->

  <form method="POST" action="{{ url_for('workoutReview') }}" enctype="multipart/form-data">
    {{ csv.hidden_tag() }}
    {{ csv.csrf_token }}
    {{csv.csvField(id="csvInput", class="hidden")}}

    <div class="row">
      <button class="button contrast wide" type="button" id="uploadCSV">Upload</button>
      {{csv.submitCSV(class="button contrast wide", id="csvSubmit")}}
    </div>
  </form>
  <div id="fileNameLabel" class="row center-align pad10">No file selected.</div>

 

</section>

<div id="allManualForms" class="hidden">
  <section id="singleIntervalForm" class="column hidden">
    <form method="POST" action="{{ SetDistance }}" class="distance-form" novalidate>
      {{ singleInterval.hidden_tag() }}
      <fieldset>
        <legend>Single Interval</legend>

        {{singleInterval.title.label}}
        {% if singleInterval.title.errors %}
          {{singleInterval.title(class="invalid") }}
          <div class="invalid-input">
            {% for error in singleInterval.title.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
        {% else %}
          {{singleInterval.title(id="title")}}
        {% endif %}
    
        {{singleInterval.distance.label}}
        {% if singleInterval.distance.errors %}
          {{singleInterval.distance(class="invalid") }}
          <div class="invalid-input">
            {% for error in singleInterval.distance.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
        {% else %}
          {{singleInterval.distance(id="distance")}}
        {% endif %}

        {{singleInterval.minutes.label}}

        {{singleInterval.hours(id="hours")}}

        {% if singleInterval.minutes.errors %}
        {{singleInterval.minutes(class="invalid")}}
        <div class="invalid-input">
          {% for error in singleInterval.minutes.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %}
          {{singleInterval.minutes(id="minutes")}}
        {% endif %}

        {% if singleInterval.seconds.errors %}
        {{singleInterval.seconds(class="invalid")}}
        <div class="invalid-input">
          {% for error in singleInterval.seconds.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %}
          {{singleInterval.seconds(id="seconds")}}
        {% endif %}


        <p class="row">
          Average split: <span id="split"></span> 
        </p>
        {{singleInterval.upload(class="button dark small center-align")}}

      </fieldset>
    </form>
  </section>

  <section id="intervalFixedForm" class="hidden">
    <form method="POST" action="{{url_for('uploading')}}" class="distance-form" novalidate>

      {{fixedInterval.hidden_tag()}}
      <div class="row">
        {{fixedInterval.title.label}}
        {% if fixedInterval.title.errors %}
          {{fixedInterval.title(class="invalid") }}
          <div class="invalid-input">
            {% for error in fixedInterval.title.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
        {% else %}
          {{fixedInterval.title(id="title")}}
        {% endif %}
        {{fixedInterval.rest.label}}
        {{fixedInterval.rest}}
      </div>
      <div class="row">
        <button type="button" id="addInterval" class="button dark small">Add Interval</button>
        <button type="button" id="remove" class="button red small">Remove</button>
      </div>
      <div id="intervalForms" class="column">
      </div>

      {{fixedInterval.upload}}
    </form>
  </section>

  <section id="intervalVariableForm" class="row hidden">
    <h2>Interval Variable Upload</h2>
  </section>
</div>

<script type="text/javascript" src="../static/js/dynamicForms.js"></script>
{% endblock content %}