{% extends "layout.html" %}
{% block content %}

<div class="row">
  <button class="button contrast wide">.CSV </button>
  <button class="button red wide">Manual </button>
</div>

<secion id="manual-upload">
  <div class="row">
    <button class="button red wide">Single Distance</button>
    <button class="button red wide">Single Time</button>
  </div>
  <div class="row">
    <button class="button red wide">Fixed Intervals</button>
    <button class="button red wide">Variable Intervals </button>
  </div>
</section>

<section id="singleInterval">



</section>
{% endblock content %}