{% extends "layout.html" %}
{% block content %}

<div class="row">
  <button class="button contrast wide">.CSV </button>
  <button class="button red wide" id="manual">Manual </button>
</div>

<section id="manual-upload" class="hidden">
  <div class="row">
    <button class="button red wide" id="singleDist">Single Distance</button>
    <button class="button red wide" id="singleTime">Single Time</button>
  </div>
  <div class="row">
    <button class="button red wide" id="intervalFixed">Fixed Intervals</button>
    <button class="button red wide" id="intervalVariable">Variable Intervals </button>
  </div>
</section>

<section id="singleIntervalForm" class="column hidden">
  <form method="POST" action="{{ SetDistance }}" class="distance-form">
    {{ singleInterval.hidden_tag() }}
    <fieldset>
      <legend>Single Interval</legend>
    
      {% if singleInterval.distance.errors %}
        {{singleInterval.distance(class="invalid") }}
        <div class="invalid-input">
          {% for error in singleInterval.distance.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
      {% else %}
        {{singleInterval.distance(id="distance")}}
      {% endif %}

      {% if singleInterval.time.errors %}
      {{singleInterval.time(class="invalid")}}
      <div class="invalid-input">
        {% for error in singleInterval.time.errors %}
        <span>{{error}}</span>
        {% endfor %}
      </div>
      {% else %}
        {{singleInterval.time(id="time")}}
      {% endif %}
      <p class="row">
        Average split: <span id="split"> number </span> /500m
      </p>
      {{singleInterval.upload(class="button dark small center-align")}}

    </fieldset>
  </form>
</section>

<section id="intervalFixedForm" class="row hidden">
  <h2>Fixed Interval Upload</h2>
</section>

<section id="intervalVariableForm" class="row hidden">
  <h2>Interval Variable Upload</h2>
</section>


{% endblock content %}