{% extends "layout.html" %}
{% block content %}
<script src="../static/js/svgCharts.js"></script>
<article class="workoutReview">
  <article class="overview">
    <h3>Overview</h3>
    <ul>
      <li><b>Workout Type: </b> {{workout.type}}</li>
      <li><b>Details: </b> {{ workout.details }}</li>
      <li><b>Interval Count: </b> {{workout.intervalCount}}</li>
      <li><b>Total Time: </b>{{workout.overview[1]}}</li>
      <li><b>Total Distance: </b>{{workout.overview[2]}}</li>
    </ul>
  </article>
  <article class="reviewGraph" id="barChart">
    <h3>Total Time</h3>
    <script>BarChart({{ workout.intervals | tojson | safe }});</script>
  </article>
  <article class="intervalOverview">
    <table>
      <tr>
        {% for label, unit in zip(workout.overviewLabels, workout.units) %}
        <td class="firstRow"><b>{{label}}<br> {{unit}}</b></td>
        {% endfor %}
      </tr>
      <tr>
        {% for cell in workout.overview %}
        <td>{{cell}}</td>
        {% endfor %}
      </tr>
    </table>
    <table>
      <tr>
        {% for label, unit in zip(workout.intervalLabels, workout.units) %}
        <td class="firstRow"><b>{{label}}<br> {{unit}}</b></td>
        {% endfor %}
      </tr>
      {% for interval in workout.intervals %}
      <tr>
        {% for cell in interval %}
        <td>{{cell}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

  </article>
  <div class="row submitRow">
    <button class="button red small ">Cancel</button>
    <button class="button contrast small">Submit</button>
  </div>

</article>


{% endblock content %}