:root {
  --dark: #4EBABA;
  --accent: #2E9C9C;
  --my-red: #FF6B6B;
  --my-red-accent: #FF4C4C;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif
}

/* template styling */

.template {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 1fr 20vh;
  grid-template-areas: 
    "header"
    "subheader"
    "content "
    "footer  "
  ;
  width: 100vh;
}

.header {
  grid-area: header;
  font-weight: bold;
  font-size: 40px;
  overflow: hidden;
}

.subheader {
  grid-area: subheader;
  background: yellow;
  padding: 0px;
}

.content{
  grid-area: content;
}

.navbutton {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
  font-size: 40px;
  color: white;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: absolute;
}

nav {
  transition: all 0.5s ease-in-out;
  grid-area: nav;
  display: inline-flex;
  flex-direction: column;
  background: #555;
  clear: both;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  height: 100vh;
  box-shadow: 2px 0px 10px #000000;
}

nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  text-decoration: none;
  width: inherit;
  box-sizing: border-box;
  width: 50vw;
}

nav .machineCount {
  position: absolute;
  bottom: 0px;
  padding: 1.25em 1.5em;
  color: #ccc;
  width: 50vw;
  box-sizing: border-box;
  border-top: 1px black solid;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: purple;
}


/* -------------------------button stylin-------------------------g*/

.button {
  padding: 15px 25px;
  text-align: center;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  margin: 10px;
}

.button:active {
  transform: translateY(3px);
}

.dark {
  background: var(--dark);
  box-shadow: 0 6px var(--accent);
}

.dark:active {
  box-shadow: 0 3px var(--accent);
}

.contrast {
  background: var(--contrast);
  box-shadow: 0 6px var(--contrast-accent);
}

.contrast:active {
  box-shadow: 0 3px var(--contrast);
}

.red {
  background: var(--my-red);
  box-shadow: 0 6px var(--my-red-accent);
}

.red:active {
  box-shadow: 0 3px var(--my-red-accent);
}

.square {
  width: 150px;
  height: 150px;
}

.small {
  font-size: 12px;
  padding: 8px 12px;
}

.wide {
  width: 150px;
}

/* tablet styling */

@media screen and (min-width: 500px) {}

/* desktop styling */

@media screen and (min-width: 1000px) {}